.sidebar {
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100%;
  // background: #eee;
  border-right: 1px solid #eee;
  padding: 15px 0 30px;
  &-item {
    width: 100%;
    font-size: 14px;
    color: $text-color;
    position: relative;
    display: inline-block;
    padding: 13px 15px 13px 25px;
    &::after {
      content: '';
      position: absolute;
      left: 25px;
      bottom: 5px;
      height: 2px;
      width: 20%;
    }
    &:hover,
    &.active {
      color: $main-color;
      text-decoration: none;
      &::after {
        background-color: $main-color;
      }
    }
  }
}

.logout {
  padding-left: 0;
  text-align: left;
  background: none;
  border: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $main-color;
  }
}
