.main-color {
  color: $main-color;
}
.mg-t-5 {
  margin-top: 5px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-30 {
  margin-top: 30px;
}

.mg-bt-0 {
  margin-bottom: 0;
}
.mg-bt-15 {
  margin-bottom: 15px;
}
.mg-bt-20 {
  margin-bottom: 20px;
}
