.btn-link {
  padding: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}
.btn-min-width {
  min-width: 120px;
}
.btn-default {
  border-color: #ccc;
}
.btn-success {
  background: #88b04b;
  border-color: #88b04b;
}
.badge {
  border: 0;
}
