.card {
  &-title {
    margin-top: 0;
    font-size: 16px;
  }
  &-number {
    font-size: 30px;
  }
  &-money {
    padding: 15px;
    margin-bottom: 15px;
    h4 {
      font-size: 0.8rem;
    }
    &-num {
      h4 {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
    // >>
    @media (min-width: 768px) {
      h4 {
        font-size: 1rem;
      }
      &-num {
        h4 {
          font-size: 1.5rem;
        }
        font-size: 1.5rem;
        text-align: right;
        border-left: 1px solid #ddd;
      }
    }
  }
}
