.nav-item {
  padding: 10px;
  font-size: 16px;
  color: $text-color;
  position: relative;
  &::after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }
  &:hover,
  &.active {
    color: $main-color;
    text-decoration: none;
    &::after {
      background-color: $main-color;
    }
  }
}
