.pagination {
  .page-link {
    color: $text-color;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    .page-link {
      &,
      &:focus,
      &:hover {
        cursor: auto;
        border-color: $main-color;
        background: $main-color;
      }
    }
  }
  &-responsive {
    overflow: scroll;
    padding: 0 0 15px 0;
    float: right;
    @media (max-width: 767px) {
      float: none;
    }
  }
}
